## Module 6 Lab

### Exercise 1
Iterate over each of the Month-XX.csv files using a list comprehension or for loop and (i) import the data as a
DataFrame and (ii) compute the total number of observations in each DataFrame. Which DataFrame has the
most observations? Which has the least?

In [4]:
import pandas as pd
import numpy as np

list_of_month = ['Month-01','Month-02','Month-03','Month-04','Month-05','Month-06','Month-07','Month-08','Month-09','Month-10','Month-11']

dataframes_list = []

for i in range(len(list_of_month)):
    temp_dataframe = pd.read_csv("C:/Users/dell/OneDrive/Documents/Study_Fall_2022/Statistical_Computing/Module_6/monthly_data/" +list_of_month[i]+ ".csv")
    dataframes_list.append(temp_dataframe)


# [54535 rows x 10 columns] [44380 rows x 10 columns]
# [53259 rows x 10 columns] [51033 rows x 10 columns]
# [55079 rows x 10 columns] [59666 rows x 10 columns]
# [64268 rows x 10 columns] [69492 rows x 10 columns] 
# [71855 rows x 10 columns] [80277 rows x 10 columns]                       
# [94315 rows x 10 columns]
dataframes_list[10]  #  495150

print("Dataframe with most observation is the one with Month-11" , dataframes_list[10].shape)

print("Dataframe with least observation is the one with Month-02" , dataframes_list[1].shape)

Dataframe with most observation is the one with Month-11 (94315, 10)
Dataframe with least observation is the one with Month-02 (44380, 10)

### Exercise 2
Import the Month-XX.csv files into your current Python session. Do so using a for loop or list
comprehension. Rather than have 11 separate data frames (one for each month), combine these so that you
have one data frame containing all the data. Your final data frame should have 698,159 rows and 10 columns.
What is the Account_ID value for the very last transaction in this combined DataFrame? Note, the last
transaction in the combined DataFrame should be the last transaction in the Month-11.csv data set.

In [6]:
import pandas as pd 
import glob


path = 'C:/Users/dell/OneDrive/Documents/Study_Fall_2022/Statistical_Computing/Module_6/monthly_data'

csv_files = glob.glob(path + "/*.csv")

month_df = (pd.read_csv(file) for file in csv_files)
month_df

month_df_comp = pd.concat(month_df,ignore_index=True)
print("Imported data as a data frame", month_df_comp.shape)
print(month_df_comp)

type(month_df_comp)
month_df_comp

ls = month_df_comp.iloc[-1]['Account_ID']
print("the Account_ID value for the very last transaction in this combined DataFrame is",ls)

Imported data as a data frame (698159, 10)
        Account_ID Transaction_Timestamp  Factor_A  Factor_B Factor_C  \
0                5  2009-01-08T00:16:41Z         2         6       VI
1               16  2009-01-20T22:40:08Z         2         6       VI
2               28  2009-01-19T13:24:55Z         2         6       VI
3               40  2009-01-05T16:10:58Z         2         6       VI
4               62  2009-01-21T19:13:13Z         2         6       VI
...            ...                   ...       ...       ...      ...
698154      495134  2009-11-30T23:55:08Z         2         6       VI
698155      495135  2009-11-30T23:57:00Z         7        15       MC
698156      495136  2009-11-30T23:57:33Z         2         6       VI
698157      495137  2009-11-30T23:57:39Z         7        15       MC
698158      495150  2009-11-30T23:58:32Z         2         6       VI

        Factor_D Factor_E  Response Transaction_Status Month
0             20        A      1020           Approved   Jan
1             20        H      1020           Approved   Jan
2             21      NaN      1020           Approved   Jan
3             20        H      1020           Approved   Jan
4             20        B      1020           Approved   Jan
...          ...      ...       ...                ...   ...
698154        20        D      1020           Approved   Nov
698155        20      MCW      1020           Approved   Nov
698156        21        A      1020           Approved   Nov
698157        35      MPL      1020           Approved   Nov
698158        20        B      1020           Approved   Nov

[698159 rows x 10 columns]
the Account_ID value for the very last transaction in this combined DataFrame is 495150

### Exercise 3
How many unique values exist in each column?

In [5]:
month_df_comp.columns

unique_values_each_column = month_df_comp.nunique()
print("The unique values in each column are")
print(unique_values_each_column)

The unique values in each column are
Account_ID               475413
Transaction_Timestamp    686538
Factor_A                      7
Factor_B                      6
Factor_C                      4
Factor_D                     15
Factor_E                     62
Response                     42
Transaction_Status            2
Month                        11
dtype: int64

### Exercise 4
Create a function convert_to_qtr() that converts monthly values to quarters. This function should assess
a month value (“Jan”, “Feb”, ... , “Dec”) and convert to “Q1”, “Q2”, “Q3”, or “Q4”. Do it such that:
If the month input is Jan-Mar, then the function returns “Q1”
If the month input is Apr-Jun, then the function returns “Q2”
If the month input is Jul-Sep, then the function returns “Q3”
If the month input is Oct-Dec, then the function returns “Q4”
Apply this function to the imported data (note the Month column contains month values in the form of “Jan”,
“Feb”, ... , “Dec”) and create a new column that contains the quarter that each observation is aligned to.
Compute how many observations fall into each quarter.

In [9]:
import os
import glob
def convert_to_qtr(row):
    if row=='Jan' or row== 'Feb' or row=='Mar':
        result = 'Q1'
        return result
    elif row=='Apr' or row== 'May' or row=='Jun':
        result = 'Q2'
        return result
    elif row=='Jul' or row== 'Aug' or row=='Sep':
        result = 'Q3'
        return result
    elif row=='Oct' or row== 'Nov' or row=='Dec':
        result = 'Q4'
        return result


month_df_comp['quarter'] = month_df_comp['Month'].apply(convert_to_qtr)
month_df_comp['quarter']

print("The observations that fall into each quarter are")
print(month_df_comp['quarter'])

df_2 = month_df_comp.groupby(['quarter']).count()
print(df_2)


print(month_df_comp['quarter'].value_counts())

The observations that fall into each quarter are
0         Q1
1         Q1
2         Q1
3         Q1
4         Q1
          ..
698154    Q4
698155    Q4
698156    Q4
698157    Q4
698158    Q4
Name: quarter, Length: 698159, dtype: object
Q3    205615
Q4    174592
Q2    165778
Q1    152174
Name: quarter, dtype: int64

### Exercise 5
Import the Month-XX.csv files into your current Python session. Do so using a for loop or list
comprehension. However, this time I want you to only import those data sets that have 60,000 or more
observations. You'll need to include a conditional statement within your for loop or list comprehension to
make this happen. Once you've imported the data sets that meet this condition combine them into one single
DataFrame. How many observations does this DataFrame have?

In [10]:
path1 = 'C:/Users/dell/OneDrive/Documents/Study_Fall_2022/Statistical_Computing/Module_6/monthly_data/'

list_of_month = ['Month-01','Month-02','Month-03','Month-04','Month-05','Month-06','Month-07','Month-08','Month-09','Month-10','Month-11']

dataframes_list_1 = []


for i in range(len(list_of_month)):
    temp_dataframe_1 = pd.read_csv(path1 +list_of_month[i]+ ".csv")
    if temp_dataframe_1.shape[0] >= 60000 :
            dataframes_list_1.append(temp_dataframe_1)
            new_df_latest = pd.concat(dataframes_list_1,axis=0,ignore_index=True)
   
dataframes_list_1

print("This data frame has observations as ",new_df_latest.shape[0])

This data frame has observations as  380207

### Exercise 6
Create a function ( get_data() ) that performs the task in exercise 5. However, this function should have two
arguments:
1. files which you can use to feed the list of file names to import and
2. min_req_obs which you can specify the number of observations required in a data set for it to be
imported.
The output of the function should be a single DataFrame containing all observations from those data sets that
meet the required observation threshold. Consequently, you should be able to use this function as below to get
the same combined DataFrame that you got in exercise 5:
get_data(files, min_req_obs=60000)
Now use this function to import all Month-XX.csv files that contain at least 75,000 observations and combine
them into one single DataFrame. How many observations is in this DataFrame?

In [11]:
newpath1 = 'C:/Users/dell/OneDrive/Documents/Study_Fall_2022/Statistical_Computing/Module_6/monthly_data/'
dataframes_list_2 = []
def get_data(name,obs):
    name = pd.DataFrame()
    name=pd.read_csv(newpath1, index_col=None, header=0)
    if name.shape[0] > obs:
        print(name.shape[0])
        dataframes_list_2.append(name)
    return dataframes_list_2

for i in range(len(list_of_month)):
  temp_dataframe_2 = pd.read_csv(path1 +list_of_month[i]+ ".csv")
  if temp_dataframe_2.shape[0] >= 75000 :
            dataframes_list_2.append(temp_dataframe_2)
            new_df_latest_1 = pd.concat(dataframes_list_2,axis=0,ignore_index=True)


new_df_latest_1.shape[0]
print("Observation in this data frame are" , new_df_latest_1.shape[0])

Observation in this data frame are 174592

### Exercise 7
Now use the get_data() function to iterate over the following values for min_req_obs : 25000, 50000,
75000, 90000. How many observations are in the final DataFrames based on these min_req_obs values?

In [16]:
file1 = "Month-"
li3 = []
def get_data(name,obs):
    name = pd.DataFrame()
    name = pd.read_csv(newpath, index_col=None, header=0)
    if name.shape[0] > obs:
        li3.append(name)


for obs in [25000,50000,75000,90000]:
    li3 = []
    for x in range(1,12):
        if x<10:
            fileName = file1 + '0' +str(x) +'.csv'
            newpath = path +fileName
            get_data(newpath,obs)
        else:
            fileName = file1+str(x)
            f = fileName +".csv"
            newpath = path +f
            get_data(newpath,obs)
    frameFiltered3 = pd.concat(li3, axis=0, ignore_index=True)
    print(str(obs) + ' - '+ str(frameFiltered3.shape[0]))
    print('The observations are ')
    print("25000 - 698159 50000 - 653779 75000 - 174592 90000 - 94315")

The observations are
25000 - 698159 50000 - 653779 75000 - 174592 90000 - 94315

### Exercise 8
For this exercise and the ones that follow you will not be using any external data sets.
Create a function divisible(a, b) that accepts two integers ( a and b ) and returns True if a is
divisble by b without a remainder. For example, divisible(10, 3) should return False , while
divisible(6, 3) should return True .
Once you have created this function, apply it to the randomly generated integers below. Be sure to use the
same seed value. What is your result?
import random
random.seed(123)
a = random.randint(10, 100)
b = random.randint(1, 10)
divisible(a, b)

In [13]:
def divisible(a,b):
    if (a % b == 0):
        return True
    else:
        return False
import random
random.seed(123)
a = random.randint(10, 100)
b = random.randint(1, 10)
divisible(a, b)

False

### Exercise 9
Create a function lucky_sum() that takes all the integers a user enters and returns their sum. However, if one
of the values is 13 then it does not count towards the sum, nor do any values to its right.
For example, your function should behave as follows:
lucky_sum(1, 2, 3, 4)
10
lucky_sum(1, 13, 3, 4)
1
lucky_sum(1, 3, 13, 4)
4
lucky_sum(13)
0
Once you've created this function, apply it to the following randomly sampled list of numbers. Be sure to run the
code below exactly as you see it. What is your result?
random.seed(18)
my_values = random.choices(range(1, 14), k=26)
lucky_sum(*my_values)

In [14]:
def lucky_sum(array):
    sum = 0
    for x in array:
        if (x != 13):
            sum = sum + x
            print(sum)
        else:
            return sum;
    return sum
random.seed(313)
my_values = random.choices(range(1, 14), k=4)
print(my_values)
lucky_sum(my_values)

[8, 13, 6, 12]
8

8

In [15]:
def lucky_sum(array):
    sum = 0
    for x in array:
            if (x != 13):
                sum = sum + x
                print(sum)
            else:
                return sum;
    return sum
random.seed(18)
my_values = random.choices(range(1, 14), k=26)
lucky_sum(my_values)

3
12
17
20
27
34
41
47
51
55
64
69
78
89
101

101