## Module 4 Lab

### Part 1
For this part of the lab we’ll work through the mbta.xlsx data. The Massachusetts Bay Transportation Authority(“MBTA”) manages America’s oldest subway, as well as Greater Boston’s commuter rail, ferry, and bus systems.It’s your fi rst day on the job as the T’s data analyst and you’ve been tasked with analyzing average ridershipthrough time. Complete the following data cleaning tasks.

1. Import the data. Note, you'll need to skip the first row and have the first column be used as the index. Checkout the read_excel()
docs to figure out how to do this. The resulting DataFrame should contain 11 rowsand 59 columns and look similar to the below DataFrame.

In [15]:
import pandas as pd


mbta_1 = pd.read_excel('C:/Users/dell/OneDrive/Documents/Study_Fall_2022/Statistical_Computing/Module_4/mbta.xlsx', skiprows=1)
mbta_1

mbta_2 = mbta_1.iloc[:,1:]
mbta_2

,mode,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,...,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10
0,All Modes by Qtr,NaN,NaN,1187.653,NaN,NaN,1245.959,NaN,NaN,1256.571,...,NaN,NaN,1223.452,NaN,NaN,1302.414,NaN,NaN,1290.549,NaN
1,Boat,4.000,3.600,40.000,4.300,4.900,5.800,6.521,6.572,5.469,...,3.140,3.284,3.674,4.251,4.431,5.474,6.581,6.733,5.003,4.484
2,Bus,335.819,338.675,339.867,352.162,354.367,350.543,357.519,355.479,372.598,...,334.958,346.234,380.399,380.446,385.289,376.317,361.585,353.793,388.271,398.456
3,Commuter Rail,142.200,138.500,137.700,139.500,139.000,143.000,142.391,142.364,143.051,...,128.396,125.463,134.374,134.169,136.140,135.581,132.410,130.616,136.901,128.720
4,Heavy Rail,435.294,448.271,458.583,472.201,474.579,477.032,471.735,461.605,499.566,...,468.418,504.068,516.730,528.631,528.122,529.528,532.888,508.145,550.137,554.932
5,Light Rail,227.231,240.262,241.444,255.557,248.262,246.108,243.286,234.907,265.748,...,198.450,219.886,227.935,242.280,225.776,221.865,231.010,220.164,244.949,237.768
6,Pct Chg / Yr,0.020,-0.040,0.114,-0.002,0.049,0.096,-0.037,0.004,-0.007,...,-0.028,0.008,0.050,0.036,0.050,0.054,0.067,0.052,0.043,0.032
7,Private Bus,4.772,4.417,4.574,4.542,4.768,4.722,3.936,3.946,4.329,...,2.213,2.570,2.559,2.762,2.776,2.815,2.671,2.655,2.843,2.967
8,RIDE,4.900,5.000,5.500,5.400,5.400,5.600,5.253,5.308,5.609,...,6.735,7.463,8.387,8.145,8.059,8.377,7.902,8.071,8.318,8.598
9,Trackless Trolley,12.757,12.913,13.057,13.444,13.479,13.323,13.311,13.142,14.393,...,11.104,11.695,12.601,12.599,12.291,12.128,11.060,11.091,12.332,12.297
10,TOTAL,1166.974,1191.639,1204.725,1247.105,1244.755,1246.129,1243.952,1223.323,1310.764,...,1153.413,1220.663,1286.660,1313.283,1302.884,1292.085,1286.107,1241.268,1348.754,1348.222

2. How many missing values are in each column? How many missing values are there in total.

In [16]:
#Missing Values are not present
	
print("Missing values in each column are : " ,mbta_2.isna().sum())
print("The total missing values : " ,mbta_2.isnull().sum().sum())

Missing values in each column are :  mode       0
2007-01    1
2007-02    1
2007-03    0
2007-04    1
2007-05    1
2007-06    0
2007-07    1
2007-08    1
2007-09    0
2007-10    1
2007-11    1
2007-12    0
2008-01    1
2008-02    1
2008-03    0
2008-04    1
2008-05    1
2008-06    0
2008-07    1
2008-08    1
2008-09    0
2008-10    1
2008-11    1
2008-12    0
2009-01    1
2009-02    1
2009-03    0
2009-04    1
2009-05    1
2009-06    0
2009-07    1
2009-08    1
2009-09    0
2009-10    1
2009-11    1
2009-12    0
2010-01    1
2010-02    1
2010-03    0
2010-04    1
2010-05    1
2010-06    0
2010-07    1
2010-08    1
2010-09    0
2010-10    1
2010-11    1
2010-12    0
2011-01    1
2011-02    1
2011-03    0
2011-04    1
2011-05    1
2011-06    0
2011-07    1
2011-08    1
2011-09    0
2011-10    1
dtype: int64
The total missing values :  39

3. It appears that the data are organized with observations stored as columns rather than as rows. You can fi xthat. First, though, you can address the missing data. All of the NA values are stored in the fi rst row. This rowreally belongs in a diff erent data frame; it is a quarterly average of weekday MBTA ridership. Since this data settracks monthly average ridership, you’ll remove that row. Similarly, the 7th row (Pct Chg / Yr) and the 11th row(TOTAL) are not really observations as much as they are analysis. Go ahead and remove the 7th and 11th rowsas well. After removing the fi rst, seventh, and eleventh rows, what are the dimensions of the new DataFrame?

In [17]:
mbta_2
mbta_2_drop = mbta_2.drop([mbta_2.index[0],mbta_2.index[6],mbta_2.index[10]])
print(mbta_2_drop)
print('After removing the fi rst, seventh, and eleventh rows, the dimensions of the new DataFrame are',mbta_2_drop.shape)

                mode  2007-01  2007-02  2007-03  2007-04  2007-05  2007-06  \
1               Boat    4.000    3.600   40.000    4.300    4.900    5.800
2                Bus  335.819  338.675  339.867  352.162  354.367  350.543
3      Commuter Rail  142.200  138.500  137.700  139.500  139.000  143.000
4         Heavy Rail  435.294  448.271  458.583  472.201  474.579  477.032
5         Light Rail  227.231  240.262  241.444  255.557  248.262  246.108
7        Private Bus    4.772    4.417    4.574    4.542    4.768    4.722
8               RIDE    4.900    5.000    5.500    5.400    5.400    5.600
9  Trackless Trolley   12.757   12.913   13.057   13.444   13.479   13.323

   2007-07  2007-08  2007-09  ...  2011-01  2011-02  2011-03  2011-04  \
1    6.521    6.572    5.469  ...    3.140    3.284    3.674    4.251
2  357.519  355.479  372.598  ...  334.958  346.234  380.399  380.446
3  142.391  142.364  143.051  ...  128.396  125.463  134.374  134.169
4  471.735  461.605  499.566  ...  468.418  504.068  516.730  528.631
5  243.286  234.907  265.748  ...  198.450  219.886  227.935  242.280
7    3.936    3.946    4.329  ...    2.213    2.570    2.559    2.762
8    5.253    5.308    5.609  ...    6.735    7.463    8.387    8.145
9   13.311   13.142   14.393  ...   11.104   11.695   12.601   12.599

   2011-05  2011-06  2011-07  2011-08  2011-09  2011-10
1    4.431    5.474    6.581    6.733    5.003    4.484
2  385.289  376.317  361.585  353.793  388.271  398.456
3  136.140  135.581  132.410  130.616  136.901  128.720
4  528.122  529.528  532.888  508.145  550.137  554.932
5  225.776  221.865  231.010  220.164  244.949  237.768
7    2.776    2.815    2.671    2.655    2.843    2.967
8    8.059    8.377    7.902    8.071    8.318    8.598
9   12.291   12.128   11.060   11.091   12.332   12.297

[8 rows x 59 columns]
After removing the fi rst, seventh, and eleventh rows, the dimensions of the new DataFrame are (8, 59)

4. In this data, variables are stored in rows instead of columns. The different modes of transportation (commuterrail, bus, subway, boat, ...) are variables, providing information about each month’s average ridership. The months themselves are observations (Currently, months are listed as variable names; rather, they should be intheir own column). You can tell which is which because as you go through time, the month changes, but themodes of transport offered by the T do not. As is customary, you want to represent variables in columns ratherthan rows.

1.Pivot the rows and columns of the mbta data so that all columns are variables of the data. This shouldresult in 3 columns - mode, date, and number of riders in thousands (thou_riders).
2.What are the new dimensions of this data?

In [19]:

mbta_2_drop
mbta_result = mbta_2_drop.melt(
    id_vars='mode',
    var_name='date',
    value_name='thou_riders'
)
print(mbta_result)
print("The new dimensions of the data are" , mbta_result.shape)

                  mode     date  thou_riders
0                 Boat  2007-01        4.000
1                  Bus  2007-01      335.819
2        Commuter Rail  2007-01      142.200
3           Heavy Rail  2007-01      435.294
4           Light Rail  2007-01      227.231
..                 ...      ...          ...
459         Heavy Rail  2011-10      554.932
460         Light Rail  2011-10      237.768
461        Private Bus  2011-10        2.967
462               RIDE  2011-10        8.598
463  Trackless Trolley  2011-10       12.297

[464 rows x 3 columns]
The new dimensions of the data are (464, 3)

5. Your data set is already looking much better! Your boss saw what a great job you’re doing and now wants youto do an analysis of the T’s ridership during certain months across all years. Your data set has months in it, so that analysis will be a piece of cake. There’s only one small problem: if you want to look at ridership on the Tduring every January (for example), the month and year are together in the same column, which makes it a littletricky. You’ll need to separate the month column into distinct month and year columns to make life easier.
1.
Split the month column of mbta at the dash and create a new month column with only the month and ayear column with only the year.
2.
View the head of this new mbta data set.

In [22]:
type(mbta_result)

mbta_result[['year', 'month']] = mbta_result['date'].str.split("-", expand = True)
mbta_result[['year','month']] = mbta_result.date.str.split("-",expand=True)
mbta_result.drop(columns=['date'])
print("The head of this new data set")
print(mbta_result.head())

The head of this new data set
            mode     date  thou_riders  year month
0           Boat  2007-01        4.000  2007    01
1            Bus  2007-01      335.819  2007    01
2  Commuter Rail  2007-01      142.200  2007    01
3     Heavy Rail  2007-01      435.294  2007    01
4     Light Rail  2007-01      227.231  2007    01

6. Every month, average weekday commuter boat ridership was around 4,000. Then, one month it jumped to40,000 without warning? Unless the Olympics were happening in Boston that month (they weren’t), this value iscertainly an error. You can assume that whoever was entering the data that month accidentally typed 40 insteadof 4.
1.
Locate the row and column of the incorrect value.
2.
Replace the incorrect value with 4.

In [26]:



condi_a = mbta_result.loc[mbta_result['thou_riders'] == 40 ]
print("The located value")
print(cond_a)

data_new2 = mbta_result.copy()                                 # Create copy of DataFrame
data_new2['thou_riders'] = data_new2['thou_riders'].replace(40, 4)  # Replace values in DataFrame
print(data_new2) 

new_mbta_df = data_new2.loc[data_new2['thou_riders'] == 4 ]
print("The replaced value")
print(new_mbta_df)
print("The new data frame with replaced value for 'thou_riders is" , data_new2)

The located value
    mode     date  thou_riders  year month
16  Boat  2007-03         40.0  2007    03
                  mode     date  thou_riders  year month
0                 Boat  2007-01        4.000  2007    01
1                  Bus  2007-01      335.819  2007    01
2        Commuter Rail  2007-01      142.200  2007    01
3           Heavy Rail  2007-01      435.294  2007    01
4           Light Rail  2007-01      227.231  2007    01
..                 ...      ...          ...   ...   ...
459         Heavy Rail  2011-10      554.932  2011    10
460         Light Rail  2011-10      237.768  2011    10
461        Private Bus  2011-10        2.967  2011    10
462               RIDE  2011-10        8.598  2011    10
463  Trackless Trolley  2011-10       12.297  2011    10

[464 rows x 5 columns]
The replaced value
    mode     date  thou_riders  year month
0   Boat  2007-01          4.0  2007    01
16  Boat  2007-03          4.0  2007    03
The new data frame with replaced value for 'thou_riders is                   mode     date  thou_riders  year month
0                 Boat  2007-01        4.000  2007    01
1                  Bus  2007-01      335.819  2007    01
2        Commuter Rail  2007-01      142.200  2007    01
3           Heavy Rail  2007-01      435.294  2007    01
4           Light Rail  2007-01      227.231  2007    01
..                 ...      ...          ...   ...   ...
459         Heavy Rail  2011-10      554.932  2011    10
460         Light Rail  2011-10      237.768  2011    10
461        Private Bus  2011-10        2.967  2011    10
462               RIDE  2011-10        8.598  2011    10
463  Trackless Trolley  2011-10       12.297  2011    10

[464 rows x 5 columns]

7. Congrats, your data is now clean and ready for analysis.
1.Compute the mean ridership per mode.
2.Compute the mean ridership per mode for the month of January.
3.Which year had the greatest ridership for the boat mode?
4.On average, which month experiences the greatest number of passengers on the Heavy Rail mode?

In [30]:
print("Congrats, your data is now clean and ready for analysis.")
data_new2
mean_rider_ship = data_new2.groupby('mode').agg({'thou_riders' : ['mean']})
mean_rider_ship_rd = mean_rider_ship.round(2)
print('the mean ridership per mode')
print(mean_rider_ship_rd)




#2

data_new_3 = data_new2.loc[data_new2['month'] == '01']
data_new_3

avg1_rider_per_mode_jan = data_new_3.groupby('mode').agg({'thou_riders' : ['mean']})

avg1_rider_per_mode_jan_rd = avg1_rider_per_mode_jan.round(2)
print("The mean ridership per mode for the month of January")
print(avg1_rider_per_mode_jan_rd)

#3

data_new_4 = data_new2.loc[data_new2['mode'] == 'Boat']
data_new_4

great_rider_boat_md = data_new_4.groupby('year').agg({'thou_riders': 'sum'})
great_rider_boat_md
print("the greatest ridership for the boat mode is")

great_rider_boat_md_rd = great_rider_boat_md.round(1)
print(great_rider_boat_md_rd)

#4

data_new_5 = data_new2.loc[data_new2['mode'] == 'Heavy Rail']
data_new_5

great_nos_passenger = data_new_5.groupby('month').agg({'thou_riders': 'mean'}).nlargest(500, 'thou_riders')
great_nos_passenger

print('The greatest number of passengers on the Heavy Rail mode')

great_nos_passenger_rd = great_nos_passenger.round(0)
print(great_nos_passenger_rd)

Congrats, your data is now clean and ready for analysis.
the mean ridership per mode
                  thou_riders
                         mean
mode
Boat                     4.45
Bus                    358.59
Commuter Rail          137.35
Heavy Rail             489.29
Light Rail             232.99
Private Bus              3.35
RIDE                     6.60
Trackless Trolley       12.13
The mean ridership per mode for the month of January
                  thou_riders
                         mean
mode
Boat                     3.31
Bus                    342.37
Commuter Rail          137.02
Heavy Rail             460.28
Light Rail             217.39
Private Bus              3.47
RIDE                     5.94
Trackless Trolley       12.47
the greatest ridership for the boat mode is
      thou_riders
year
2007         57.1
2008         50.3
2009         50.6
2010         52.9
2011         47.1
The greatest number of passengers on the Heavy Rail mode
       thou_riders
month
09           518.0
10           516.0
04           502.0
06           498.0
07           495.0
05           495.0
11           490.0
03           484.0
02           481.0
08           477.0
01           460.0
12           447.0

Part 2
For this module we will be using the
completejourney_py
data sets that you saw in the lesson 4b reading:

1. Using the transactions and demographics data, how many of the 1,469,307 transactions do we have demographic information for?

In [4]:
from completejourney_py import get_data

cj_data = get_data()
cj_data.keys()
transactions = cj_data['transactions']
demographics = cj_data['demographics']
transactions.columns.intersection(demographics.columns)

we_have_demo_info = transactions.merge(demographics)
we_have_demo_info.shape
we_have_demo_info.count()

household_id             828850
store_id                 828850
basket_id                828850
product_id               828850
quantity                 828850
sales_value              828850
retail_disc              828850
coupon_disc              828850
coupon_match_disc        828850
week                     828850
transaction_timestamp    828850
age                      828850
income                   828850
home_ownership           607943
marital_status           687418
household_size           828850
household_comp           828850
kids_count               828850
dtype: int64

2. Using the transactions and demographics data, compute the total sales_value by age category toidentify which age group generates the most sales.

In [5]:
import pandas as pd
new_df= pd.merge(transactions,demographics,on='household_id')
new_df.columns

total_sales_by_age= new_df.groupby('age', as_index=False).agg({'sales_value': 'sum'}).nlargest(8, 'sales_value')

print('the total sales_value by age category to identify which age group generates the most sales.' , total_sales_by_age)

the total sales_value by age category to identify which age group generates the most sales.      age  sales_value
3  45-54    971822.19
2  35-44    724357.40
1  25-34    453372.46
5    65+    176600.84
4  55-64    173153.70
0  19-24    125673.05

3. Identify all different products that contain “pizza” in their product_type description. Which of these products produces the greatest amount of total sales (compute total sales by product ID and product type)?

In [6]:
import pandas as pd

products = cj_data['products']



new_df_2= pd.merge(transactions,products,on='product_id')
new_df_2.columns


p_prod_ty = new_df_2[new_df_2.product_type.str.contains('pizza' , case=False, na=False)]
p_prod_ty_1 = p_prod_ty.groupby(['product_id', 'product_type']).agg({'sales_value': 'sum'}).nlargest(400, 'sales_value')
p_prod_ty_1

print('The products produces the greatest amount of total sales (compute total sales by product ID and product type) are' , p_prod_ty_1)

The products produces the greatest amount of total sales (compute total sales by product ID and product type) are                                sales_value
product_id product_type
944139     PIZZA/TRADITIONAL       1344.50
906838     PIZZA/PREMIUM           1263.78
12648296   PIZZA/TRADITIONAL       1230.36
969568     PIZZA/TRADITIONAL       1125.18
925626     PIZZA/ECONOMY           1017.60
...                                    ...
610240     PIZZA/ECONOMY              0.99
1231548    PIZZA/ECONOMY              0.99
2063332    PIZZA/ECONOMY              0.67
6876820    PIZZA/ECONOMY              0.59
10341942   QSR FD: COLD PIZZA         0.00

[394 rows x 1 columns]

4. Identify all products that are categorized (product_category) as “pizza” but are considered a “snack” or “appetizer” (viaproduct_type). Which of these products (product_id) have the most number of sales(measured by quantity)?

In [12]:
products = cj_data['products']
new_df_3= pd.merge(transactions,products,on='product_id')
new_df_3.columns

p_categ = new_df_3[new_df_3.product_category.str.contains('pizza' , case=False, na=False)]
p_categ


p_type_1 = p_categ[p_categ.product_type.str.contains('snacks|appetizers', case=False, na=False)]
print("Products that are categorized as 'pizza' and the product_type as 'snack | appetizer' are ",p_type_1)


more_sale = p_type_1.groupby('product_id').agg({'quantity': 'sum'}).nlargest(400, 'quantity')

print(more_sale)

print("The next result")

print("The products with most number of sales measured by quantity are ", more_sale)

            quantity
product_id
845193           847
890695           718
907631           632
856252           479
1103105          276
...              ...
5712355            1
6553886            1
6563745            1
6570944            1
15837271           1

[188 rows x 1 columns]
The next result
The products with most number of sales measured by quantity are              quantity
product_id
845193           847
890695           718
907631           632
856252           479
1103105          276
...              ...
5712355            1
6553886            1
6563745            1
6570944            1
15837271           1

[188 rows x 1 columns]

5. Identify all products that contain “peanut butter” in their product_type. How many unique products does thisresult in? For these products, compute the total sales_value
by month based on the transaction_timestamp. Which month produces the most sales value for these products?

In [13]:
products = cj_data['products']

new_df_5= pd.merge(transactions,products,on='product_id')
new_df_5.columns

# ----
peanut_count_1 = products[products.product_type.str.contains('peanut butter' , case=False, na=False)]
peanut_count_1
type(peanut_count_1)


new_df_6_1 = pd.merge(transactions,peanut_count_1,on='product_id')
print("The unique produccts with 'PEANUT BUTTER' in product type are",new_df_6_1)

# ---

p_prod_ty_5 = new_df_5[new_df_5.product_type.str.contains('peanut butter' , case=False, na=False)]
p_prod_ty_5

p_prod_ty_6 = p_prod_ty_5.groupby(pd.Grouper(key='transaction_timestamp', axis=0,freq='M')).agg({'sales_value': 'sum'}).nlargest(5, 'sales_value')

print("the total sales value is computed by month based on transaction_timestamp",p_prod_ty_6)

print("The month with the most sales value is 'December'",p_prod_ty_6)

The unique produccts with 'PEANUT BUTTER' in product type are       household_id  store_id    basket_id  product_id  quantity  sales_value  \
0             1333       317  31198475743     1051211         1         2.39
1             1947     32004  31198517101     1051211         1         2.39
2             2040       408  31198536427     1051211         1         2.39
3              358       439  31225666749     1051211         1         2.39
4              354       346  31225866161     1051211         1         2.39
...            ...       ...          ...         ...       ...          ...
3815          1966       333  40941640672      889041         1         6.59
3816          1814      3274  40621530774       43065         1         1.50
3817          1453       317  40702975960      860460         1         2.79
3818          1675      3235  41011571443    14029132         1         2.59
3819          1001      3131  41429516853      198651         1         2.39

      retail_disc  coupon_disc  coupon_match_disc  week transaction_timestamp  \
0            0.00          0.0                0.0     1   2017-01-01 18:33:25
1            0.00          0.0                0.0     1   2017-01-01 22:01:00
2            0.00          0.0                0.0     1   2017-01-02 03:23:16
3            0.00          0.0                0.0     2   2017-01-02 19:31:29
4            0.00          0.0                0.0     2   2017-01-02 19:47:36
...           ...          ...                ...   ...                   ...
3815         2.40          0.0                0.0    49   2017-12-01 15:55:43
3816         0.00          0.0                0.0    45   2017-11-05 20:24:44
3817         0.00          0.0                0.0    46   2017-11-12 18:11:36
3818         0.56          0.0                0.0    49   2017-12-03 22:06:25
3819         0.00          0.0                0.0    53   2017-12-28 18:44:31

      manufacturer_id department     brand    product_category  \
0                1266    GROCERY  National  PNT BTR/JELLY/JAMS
1                1266    GROCERY  National  PNT BTR/JELLY/JAMS
2                1266    GROCERY  National  PNT BTR/JELLY/JAMS
3                1266    GROCERY  National  PNT BTR/JELLY/JAMS
4                1266    GROCERY  National  PNT BTR/JELLY/JAMS
...               ...        ...       ...                 ...
3815             2438  NUTRITION  National          CONDIMENTS
3816               69    GROCERY   Private  PNT BTR/JELLY/JAMS
3817             1266    GROCERY  National  PNT BTR/JELLY/JAMS
3818              683    GROCERY  National  PNT BTR/JELLY/JAMS
3819             1266    GROCERY  National  PNT BTR/JELLY/JAMS

                   product_type package_size
0                 PEANUT BUTTER        18 OZ
1                 PEANUT BUTTER        18 OZ
2                 PEANUT BUTTER        18 OZ
3                 PEANUT BUTTER        18 OZ
4                 PEANUT BUTTER        18 OZ
...                         ...          ...
3815  NUT BUTTERS/PEANUT BUTTER        11 OZ
3816              PEANUT BUTTER   ALL  18 OZ
3817              PEANUT BUTTER        16 OZ
3818              PEANUT BUTTER        16 OZ
3819              PEANUT BUTTER        18 OZ

[3820 rows x 17 columns]
the total sales value is computed by month based on transaction_timestamp                        sales_value
transaction_timestamp
2017-12-31                 1019.08
2017-09-30                  905.36
2017-08-31                  895.10
2017-11-30                  882.32
2017-10-31                  878.89
The month with the most sales value is 'December'                        sales_value
transaction_timestamp
2017-12-31                 1019.08
2017-09-30                  905.36
2017-08-31                  895.10
2017-11-30                  882.32
2017-10-31                  878.89